Repository remarkablemark/lerna-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.json --fix, prettier --write

build(root): save `eslint-plugin-tsdoc` to devDependencies
  package.json
  yarn.lock
Due: prettier --write

chore(root): add tsdoc to .eslintrc.json
  .eslintrc.json
Due: prettier --write

build(root): upgrade devDependencies
  package.json
  yarn.lock
Due: prettier --write

test(button): remove unnecessary @ts-ignore comment
  packages/button/__tests__/Button.test.tsx
Due: eslint --config .eslintrc.json --fix

ci(root): modularize workflow scripts.yml from build.yml
  .github/workflows/scripts.yml
Due: prettier --write

ci(root): add check-success=scripts to mergify.yml
  .github/mergify.yml
Due: prettier --write

fix(scripts): set env vars so sed doesn't fail in create-package
  scripts/create-package.ts
Due: eslint --config .eslintrc.json --fix

ci(root): add netlify.toml to ignore dependabot updates
  netlify.toml
Due: none

docs(root): update README.md
  README.md
Due: prettier --write

build(root): update yarn.lock
  yarn.lock
Due: none

ci(github): remove myself from dependabot.yml
  .github/dependabot.yml
Due: prettier --write

ci(github): improve cache in workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

Revert "ci(github): improve cache in workflow build.yml"
  .github/workflows/build.yml
Due: prettier --write

build(all): upgrade React to 18
  package.json
  packages/button/package.json
  templates/react-template/package.json
  yarn.lock
Due: prettier --write

chore(root): disable eslint rule tsdoc in jest.root.ts
  jest.root.ts
Due: eslint --config .eslintrc.json --fix

test(root): set collectCoverageFrom to src in jest.root.ts
  jest.root.ts
Due: eslint --config .eslintrc.json --fix

build(root): upgrade Jest to version 28
  package.json
  yarn.lock
Due: prettier --write

ci(root): update workflow publish.yml
  .github/workflows/publish.yml
Due: prettier --write

Path conditions:
  eslint --config .eslintrc.json --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{css,html,json,md,mdx,yml}
