Repository remarkablemark/lerna-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.root.json --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": "eslint --config .eslintrc.root.json --fix",
  "*.{css,html,json,md,mdx,svg,yml}": "prettier --write"
}

refactor(storybook): rename Button to StorybookButton
  packages/storybook/package.json
  packages/storybook/src/stories/Header.tsx
  packages/storybook/src/stories/StorybookButton.stories.tsx
  packages/storybook/src/stories/StorybookButton.tsx
  packages/storybook/src/stories/storybook-button.css
Due: eslint --config .eslintrc.root.json --fix, prettier --write

docs(button): document props
  packages/button/src/Button.tsx
Due: eslint --config .eslintrc.root.json --fix

feat(storybook): add Button.stories.tsx
  packages/storybook/src/stories/Button.stories.tsx
Due: eslint --config .eslintrc.root.json --fix

docs(storybook): add Netlify status badge
  packages/storybook/README.md
Due: prettier --write

chore(all): rename .eslintrc.root.json to .eslintrc.json
  .eslintrc.json
  .lintstagedrc.json
  packages/button/.eslintrc.json
  packages/example-a/.eslintrc.json
  packages/example-b/.eslintrc.json
  packages/example/.eslintrc.json
  packages/storybook/.eslintrc.json
  packages/template/.eslintrc.json
Due: prettier --write

build(all): move devDependencies from packages to root
  package.json
  packages/button/package.json
  packages/example-a/package.json
  packages/example-b/package.json
  packages/example/package.json
  packages/storybook/package.json
  packages/template/package.json
  yarn.lock
Due: prettier --write

chore(storybook): do not lint "storybook-static"
  packages/storybook/.eslintrc.json
Due: prettier --write

chore(storybook): remove compilerOptions.outDir from tsconfig.json
  packages/storybook/tsconfig.json
Due: prettier --write

chore(storybook): add script start, which is an alias of storybook
  packages/storybook/package.json
Due: prettier --write

chore(all): add lint:fix script
  package.json
  packages/button/package.json
  packages/example-a/package.json
  packages/example-b/package.json
  packages/example/package.json
  packages/storybook/package.json
  packages/template/package.json
Due: prettier --write

docs(root): document lint:fix script in README.md
  README.md
Due: prettier --write

chore(packages): add script test:watch
  packages/button/package.json
  packages/example-a/package.json
  packages/example-b/package.json
  packages/example/package.json
  packages/template/package.json
Due: prettier --write

ci(root): add codecov to github workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

ci(root): add github workflow auto-approve.yml
  .github/workflows/auto-approve.yml
Due: prettier --write

docs(storybook): remove duplicate command in README.md
  packages/storybook/README.md
Due: prettier --write

docs(root): add codecov and netlify status badges
  README.md
Due: prettier --write

ci(root): tidy github workflow release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

chore(root): make scope-empty warn for commitlint
  .commitlintrc.js
Due: eslint --config .eslintrc.root.json --fix

ci(root): add github workflow codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: prettier --write

ci(root): add --no-verify-access to github workflow publish.yml
  .github/workflows/publish.yml
Due: prettier --write

ci(root): add --no-verify-access to github workflow release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

chore(root): remove svg extension from .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

ci(root): enable "always-link-local" in release-please-config.json
  release-please-config.json
Due: prettier --write

chore(root): move template from packages to scripts
  scripts/create-package.ts
  scripts/template/.eslintrc.json
  scripts/template/README.md
  scripts/template/__tests__/index.test.ts
  scripts/template/jest.config.ts
  scripts/template/package.json
  scripts/template/src/index.ts
  scripts/template/tsconfig.json
Due: eslint --config .eslintrc.root.json --fix, prettier --write

docs(root): update template README.md
  scripts/template/README.md
Due: prettier --write

ci(root): skip build for github-actions[bot] PR
  .github/workflows/build.yml
Due: prettier --write

chore(root): remove default options in release-please-config
  release-please-config.json
Due: prettier --write

ci(root): fix github workflow release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

ci(root): update github workflow release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

docs(all): add JSDoc comments to all packages and template
  packages/button/src/Button.tsx
  packages/example-a/src/index.ts
  packages/example-b/src/index.ts
  packages/example/src/index.ts
  scripts/template/src/index.ts
Due: eslint --config .eslintrc.root.json --fix

refactor(button): destructure props in Button
  packages/button/src/Button.tsx
Due: eslint --config .eslintrc.root.json --fix

chore(root): update tsconfig.root.json to use TypeScript path mapping
  tsconfig.root.json
Due: prettier --write

chore(root): update scripts `clean` and `lint:fix` to run in parallel
  package.json
Due: prettier --write

test(packages): move test to `__tests__` directory
  packages/button/__tests__/Button.test.tsx
  packages/example-a/__tests__/index.test.ts
  packages/example-b/__tests__/index.test.ts
Due: eslint --config .eslintrc.root.json --fix

chore(root): remove "exclude" from tsconfig.root.json
  packages/example/tsconfig.json
  tsconfig.root.json
Due: prettier --write

ci(root): update package.json to run `lint` script in parallel
  package.json
Due: prettier --write

style(all): add eslint-plugin-simple-import-sort to .eslintrc.json
  .eslintrc.json
  package.json
  packages/button/__tests__/Button.test.tsx
  packages/storybook/src/stories/Button.stories.tsx
  packages/storybook/src/stories/Header.stories.tsx
  packages/storybook/src/stories/Header.tsx
  packages/storybook/src/stories/Page.stories.tsx
  packages/storybook/src/stories/Page.tsx
  packages/storybook/src/stories/StorybookButton.stories.tsx
  packages/storybook/src/stories/StorybookButton.tsx
  yarn.lock
Due: eslint --config .eslintrc.root.json --fix, prettier --write

chore(root): add script `storybook` to package.json
  package.json
Due: prettier --write

docs(root): tidy available scripts and add release section
  README.md
Due: prettier --write

refactor(root): move template from `scripts` to `templates`
  scripts/create-package.ts
  templates/template/.eslintrc.json
  templates/template/README.md
  templates/template/__tests__/index.test.ts
  templates/template/jest.config.ts
  templates/template/package.json
  templates/template/src/index.ts
  templates/template/tsconfig.json
Due: eslint --config .eslintrc.root.json --fix, prettier --write
