Repository remarkablemark/lerna-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.json --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": "eslint --config .eslintrc.json --fix",
  "*.{css,html,json,md,mdx,yml}": "prettier --write"
}

refactor(root): rename `template` to `typescript-template`
  scripts/create-package.ts
  templates/template/README.md
  templates/typescript-template/.eslintrc.json
  templates/typescript-template/README.md
  templates/typescript-template/__tests__/index.test.ts
  templates/typescript-template/jest.config.ts
  templates/typescript-template/package.json
  templates/typescript-template/src/index.ts
  templates/typescript-template/tsconfig.json
Due: eslint --config .eslintrc.json --fix, prettier --write

refactor(root): use yargs in create-package script
  package.json
  scripts/create-package.ts
  scripts/tsconfig.json
  yarn.lock
Due: eslint --config .eslintrc.json --fix, prettier --write

refactor(all): set noEmit to true for root tsconfig.json
  packages/button/tsconfig.json
  packages/example-a/tsconfig.json
  packages/example-b/tsconfig.json
  packages/example/tsconfig.json
  packages/storybook/tsconfig.json
  scripts/tsconfig.json
  templates/typescript-template/tsconfig.json
  tsconfig.json
Due: prettier --write

build(button): move devDependencies to root package.json
  package.json
  packages/button/package.json
  yarn.lock
Due: prettier --write

ci(root): test script create-package in workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

chore(root): add templates to .commitlintrc.js scope-enum
  .commitlintrc.js
Due: eslint --config .eslintrc.json --fix

chore(root): add `templates/*` to yarn workspaces in package.json
  package.json
Due: prettier --write

docs(typescript-template): improve README.md
  templates/typescript-template/README.md
Due: prettier --write

feat(react-template): add template based on button package
  templates/react-template/.eslintrc.json
  templates/react-template/README.md
  templates/react-template/__tests__/index.test.tsx
  templates/react-template/jest.config.ts
  templates/react-template/package.json
  templates/react-template/src/Component.tsx
  templates/react-template/src/index.ts
  templates/react-template/tsconfig.json
Due: eslint --config .eslintrc.json --fix, prettier --write

chore(root): add 'scripts' to .commitlintrc.js scope-enum
  .commitlintrc.js
Due: eslint --config .eslintrc.json --fix

feat(scripts): add react-template to create-package
  scripts/create-package.ts
Due: eslint --config .eslintrc.json --fix

ci(root): run create-package with react-template in build.yml
  .github/workflows/build.yml
Due: prettier --write

test(all): use jest-axe to test that React components are accessible
  package.json
  packages/button/__tests__/Button.test.tsx
  templates/react-template/__tests__/index.test.tsx
  test/setupTests.ts
  yarn.lock
Due: eslint --config .eslintrc.json --fix, prettier --write

chore(root): enable `eslint-plugin-jsx-a11y`
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

chore(root): remove TypeScript path mapping in tsconfig.json
  tsconfig.json
Due: prettier --write

chore(scripts): tidy create-package
  scripts/create-package.ts
Due: eslint --config .eslintrc.json --fix

test(all): fix spelling
  packages/button/__tests__/Button.test.tsx
  templates/react-template/__tests__/index.test.tsx
Due: eslint --config .eslintrc.json --fix

fix(scripts): fix JSON formatting in `create-package` script
  scripts/create-package.ts
Due: eslint --config .eslintrc.json --fix

build(root): save `lerna-script` and `lerna-script-tasks-modules`
  package.json
  yarn.lock
Due: prettier --write

chore(root): add env "node" to .eslintrc.json
  .eslintrc.json
Due: prettier --write

chore(root): add script `sync-modules`
  lerna.js
  package.json
Due: eslint --config .eslintrc.json --fix, prettier --write

docs(root): document script `sync-modules` in README.md
  README.md
Due: prettier --write

ci: replace release-please with lerna publish
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  README.md
  lerna.js
  package.json
  release-please-config.json
  scripts/create-package.ts
  yarn.lock
Due: eslint --config .eslintrc.json --fix, prettier --write

ci(root): move auto-approve to build and update mergify
  .github/workflows/auto-approve.yml
  .github/workflows/build.yml
  .mergify.yml
Due: prettier --write

chore(root): update ignoreChanges in lerna.json
  lerna.json
Due: prettier --write

ci(root): fix auto-approve in build workflow
  .github/workflows/build.yml
Due: prettier --write

ci(root): run auto-approve if github event is 'pull_request_target'
  .github/workflows/build.yml
Due: prettier --write

ci(root): run build before lint in build and publish workflows
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: prettier --write

ci(root): add label condition to pull_request_target in build
  .github/workflows/build.yml
Due: prettier --write

ci(root): fix build workflow
  .github/workflows/build.yml
Due: prettier --write

ci(root): replace auto-approve with mergify check-success
  .github/mergify.yml
  .github/workflows/build.yml
Due: prettier --write

build(root): upgrade devDependencies
  package.json
  yarn.lock
Due: prettier --write

build(root): downgrade to eslint v7
  package.json
  yarn.lock
Due: prettier --write

build(root): update yarn.lock
  yarn.lock
Due: none

chore(root): add "github" to .commitlintrc.js scope
  .commitlintrc.js
Due: eslint --config .eslintrc.json --fix

feat(templates): add dependencies to react and typescript template
  templates/react-template/package.json
  templates/typescript-template/package.json
Due: prettier --write

fix(button): set react to 17 since we're using react-jsx
  packages/button/package.json
Due: prettier --write

chore(root): add "dom" to tsconfig compilerOptions.lib
  tsconfig.json
Due: prettier --write
