Repository remarkablemark/lerna-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.json --fix, prettier --write

build(root): remove `useWorkspaces` from lerna.json
  lerna.json
Due: prettier --write

build(storybook): fix error when running storybook with Node 18
  packages/storybook/package.json
Due: prettier --write

refactor(storybook): migrate to TypeScript
  packages/storybook/.storybook/main.ts
  packages/storybook/.storybook/preview.ts
  packages/storybook/package.json
  packages/storybook/stories/Button.stories.ts
  packages/storybook/stories/Button.tsx
  packages/storybook/stories/Header.stories.ts
  packages/storybook/stories/Header.tsx
  packages/storybook/stories/Page.stories.ts
  packages/storybook/stories/Page.tsx
  packages/storybook/tsconfig.json
Due: eslint --config .eslintrc.json --fix, prettier --write

refactor(root): replace `yarn` with `npm`
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/scripts.yml
  .husky/commit-msg
  .husky/pre-commit
  README.md
  lerna.json
  package-lock.json
  package.json
  packages/button/package.json
  packages/example-a/package.json
  packages/example-b/package.json
  packages/example/package.json
  packages/storybook/README.md
  packages/storybook/package.json
  scripts/create-package.ts
  templates/react-template/README.md
  templates/react-template/package.json
  templates/typescript-template/README.md
  templates/typescript-template/package.json
  yarn.lock
Due: eslint --config .eslintrc.json --fix, prettier --write

build(all): support styled-components v6
  package-lock.json
  packages/button/package.json
  templates/react-template/package.json
Due: prettier --write

docs(root): tidy README.md
  README.md
Due: prettier --write

build(root): upgrade package.json devDependencies
  package-lock.json
  package.json
Due: prettier --write

style(storybook): fix lint in stories/Button.tsx
  packages/storybook/stories/Button.tsx
Due: eslint --config .eslintrc.json --fix

build(root): upgrade Node.js from 18 to 20
  .nvmrc
Due: none

build(root): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore(root): update license copyright year to 2024
  LICENSE
Due: none

chore(root): migrate to husky 9
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

build(deps-dev): bump @typescript-eslint/eslint-plugin from 7.0.0 to 7.0.2
  package-lock.json
  package.json
Due: prettier --write

chore(license): update copyright year to 2025
  LICENSE
Due: none

build(nvmrc): bump Node.js version from 20 to 22
  .nvmrc
Due: none

ci(github): update to actions/checkout@v5
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/scripts.yml
Due: prettier --write

chore(license): update copyright year to 2026
  LICENSE
Due: none

Path conditions:
  eslint --config .eslintrc.json --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{css,html,json,md,mdx,yml}
